.contenu-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    width: 500px;
    padding: 50px;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    color: white;
}

form input {
    outline: none;
    padding: 15px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px 0;
}

form button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 1.5vh 2vw;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    margin: 10px 0;
}

form button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.checkbox {
    display: flex;
    align-items: center;
}

form .checkbox input {
    margin-right: 10px;
}

form .lien {
    color: white;
    text-decoration: underline;
    margin: 10px 0;
}