* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    outline: none;
}

nav {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/*--------- onglet simple ---------*/

.onglet {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.3s;
}
  
.simple::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s;
    white-space: nowrap;
}
  
.simple:hover::after {
    transform: scaleX(1);
}

/*--------- bouton de connexion ---------*/

.login {
    border: 1px solid white;
    border-radius: 5px;
    padding: 1.5vh 2vw;
    background-color: transparent;
    color: white;
}

.login:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}